<div nz-row>
  <div nz-col nzSpan="11">
    <h2>Добавить данные</h2>
    <form>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Наименование</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input [(ngModel)]="addDto.name" name="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Дата создания</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker [(ngModel)]="addDto.createDate" name="createDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Содержит кириллицу</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <label nz-checkbox [(ngModel)]="addDto.containsCyrillic" name="containsCyrillic"></label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Содержит латиницу</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <label nz-checkbox [(ngModel)]="addDto.containsLatin" name="containsLatin"></label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Содержит цифры</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <label nz-checkbox [(ngModel)]="addDto.containsNumbers" name="containsNumbers"></label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Содержит специальные символы:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <label nz-checkbox [(ngModel)]="addDto.containsSpecialCharacters" name="containsSpecialCharacters"></label>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Чувствителен к регистру</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <label nz-checkbox [(ngModel)]="addDto.caseSensitivity" name="caseSensitivity"></label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired> Расположение ответов </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select [(ngModel)]="addDto.locationOfAnswers" name="locationOfAnswers">
            <nz-option nzValue="Absent" nzLabel="отсутствует"></nz-option>
            <nz-option nzValue="InFilenames" nzLabel="в именах файлов"></nz-option>
            <nz-option nzValue="InSeparateFile" nzLabel="в отдельном файле"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired> Архив</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="file" (change)="onFileChange($event)" name="file">
        </nz-form-control>
      </nz-form-item>
    </form>

    <button type="submit" nz-button [nzSize]="'large'" nzType="primary" (click)="onSubmit()">Submit</button>

  </div>
  <div nz-col nzSpan="2"></div>
  <div nz-col nzSpan="11">
    <h2>Список загружанных файлов</h2>
    <nz-table #basicTable [nzData]="questions">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of questions">
          <td>{{data.name}}</td>
          <td>{{data.createDate}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
